WALLET_APP_PORT="3001"
USER_APP_PORT="3002"

USER_DB_HOST="postgres-user"
USER_DB_PORT="5432"
USER_DB_USER="postgres"
USER_DB_PASSWORD="postgres"
USER_DB_NAME="ilia-user"

WALLET_DB_HOST="postgres-wallet"
WALLET_DB_PORT="5432"
WALLET_DB_USER="postgres"
WALLET_DB_PASSWORD="postgres"
WALLET_DB_NAME="ilia-wallet"

KAFKA_BROKERS="kafka:9092"
KAFKA_TOPIC="transaction"

JWT_SECRET="ILIACHALLENGE"
